<html>
  <style type="text/css">
    .center {
      margin: auto;
      width: 100%;
      padding: 10px;
      width: 930;
      margin-top: 2em;
    }
  </style>
  <table class="center" id="worldMapsCountriesListing">
    <thead>
      <tr class="text-center">
        <th colspan="6">I explored 15% of the Planet</th>
      </tr>
    </thead>
    <tbody class="center">
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/be.png" /></td>
        <td class="countryName"><span>Belgium</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/bs.png" /></td>
        <td class="countryName"><span>Bahamas</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/cn.png" /></td>
        <td class="countryName"><span>China</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/cn_hk.png" /></td>
        <td class="countryName"><span>Hong Kong</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/cn_mo.png" /></td>
        <td class="countryName"><span>Macau</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/ee.png" /></td>
        <td class="countryName"><span>Estonia</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/eg.png" /></td>
        <td class="countryName"><span>Egypt</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/es.png" /></td>
        <td class="countryName"><span>Spain</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/fi.png" /></td>
        <td class="countryName"><span>Finland</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/fr.png" /></td>
        <td class="countryName"><span>France</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/gb.png" /></td>
        <td class="countryName"><span>United Kingdom</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/gr.png" /></td>
        <td class="countryName"><span>Greece</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/id.png" /></td>
        <td class="countryName"><span>Indonesia</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/in.png" /></td>
        <td class="countryName"><span>India</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/it.png" /></td>
        <td class="countryName"><span>Italy</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/jp.png" /></td>
        <td class="countryName"><span>Japan</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/kr.png" /></td>
        <td class="countryName"><span>South Korea</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/lt.png" /></td>
        <td class="countryName"><span>Lithuania</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/lv.png" /></td>
        <td class="countryName"><span>Latvia</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/mc.png" /></td>
        <td class="countryName"><span>Monaco</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/mt.png" /></td>
        <td class="countryName"><span>Malta</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/mv.png" /></td>
        <td class="countryName"><span>Maldives</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/no.png" /></td>
        <td class="countryName"><span>Norway</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/sa.png" /></td>
        <td class="countryName"><span>Saudi Arabia</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/se.png" /></td>
        <td class="countryName"><span>Sweden</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/sg.png" /></td>
        <td class="countryName"><span>Singapore</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/th.png" /></td>
        <td class="countryName"><span>Thailand</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/tn.png" /></td>
        <td class="countryName"><span>Tunisia</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/tr.png" /></td>
        <td class="countryName"><span>Turkey</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/us.png" /></td>
        <td class="countryName"><span>United States</span></td>
      </tr>
      <tr>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/va.png" /></td>
        <td class="countryName"><span>Vatican City</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/dk.png" /></td>
        <td class="countryName"><span>Denmark</span></td>
        <td class="flag"><img src="https://www.mytravelmap.xyz/images/flags_iso/24/pl.png" /></td>
        <td class="countryName"><span>Poland</span></td>
      </tr>
    </tbody>
  </table>
</html>
